<h1>About</h1>

<p>● Authenticate Users (Login, Signup)</p>

<p>○ Each user has the following fields (name, email, password, image)</p>

<p>○ User will log in using his email and password</p>

<p>○ All other api endpoints are not accessible without authentication</p>

<p>○ Use JWT for API authentication</p>

<p>● CRUD Posts</p>

<p>○ Each post has the following fields (title, body, author, tags, comments) Please note that the author is a separate entity which is the user model.</p>

<p>○ Users/authors can only edit/delete their own posts</p>

<p>○ Users/authors can add comments on any post</p>

<p>○ Users/authors can only edit/delete their own comments</p>

<p>○ Users/authors can update the post tags</p>

<p>○ Each post must have at least one tag</p>